In [1]:
import sys
print(sys.version)
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

3.5.2 |Anaconda 4.2.0 (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]

In [2]:
df = pd.read_csv('../ShahAli.csv')
df.head()

,Unnamed: 0,SL,NAME,ACCOUNT_NO,METER_NO,ADDRESS,ZONE,BLOCK,ROUTE,LOAD,TARIFF,METER_STATUS,MONTH,YEAR,UNIT
0,0,5702.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,6,2001,176.0
1,1,5871.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,9,2001,200.0
2,2,5904.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,10,2001,220.0
3,3,5916.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,8,2001,214.0
4,4,6041.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,12,2001,149.0

In [3]:
df = df.dropna()
df.isnull().sum()

Unnamed: 0      0
SL              0
NAME            0
ACCOUNT_NO      0
METER_NO        0
ADDRESS         0
ZONE            0
BLOCK           0
ROUTE           0
LOAD            0
TARIFF          0
METER_STATUS    0
MONTH           0
YEAR            0
UNIT            0
dtype: int64

In [33]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.to_csv('../ShahAli.csv',index=False)

In [35]:
df.tail()

,SL,NAME,ACCOUNT_NO,METER_NO,ADDRESS,ZONE,BLOCK,ROUTE,LOAD,TARIFF,METER_STATUS,MONTH,YEAR,UNIT
4537151,11034.0,MD.SHAKAWAT HOSSAIN,31518379,14391192,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,5,2016,4271.0
4537152,11144.0,MD.SHAKAWAT HOSSAIN,31518379,14391192,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,6,2016,4219.0
4537153,11271.0,MD.SHAKAWAT HOSSAIN,31518379,14391192,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,7,2016,4363.0
4537154,11461.0,MD.SHAKAWAT HOSSAIN,31518379,14391192,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,8,2016,4934.0
4537155,11506.0,MD.SHAKAWAT HOSSAIN,31518379,14391192,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,9,2016,4555.0

In [36]:
df.UNIT.lt(0).sum()

10927

In [37]:
neg_unit_rows = df.loc[df['UNIT'] <0]

In [38]:
neg_unit_rows.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10927 entries, 33543 to 4524079
Data columns (total 14 columns):
SL              10927 non-null float64
NAME            10927 non-null object
ACCOUNT_NO      10927 non-null int64
METER_NO        10927 non-null object
ADDRESS         10927 non-null object
ZONE            10927 non-null object
BLOCK           10927 non-null int64
ROUTE           10927 non-null float64
LOAD            10927 non-null int64
TARIFF          10927 non-null object
METER_STATUS    10927 non-null object
MONTH           10927 non-null int64
YEAR            10927 non-null int64
UNIT            10927 non-null float64
dtypes: float64(3), int64(5), object(6)
memory usage: 1.3+ MB

In [39]:
neg_unit_rows.head()

,SL,NAME,ACCOUNT_NO,METER_NO,ADDRESS,ZONE,BLOCK,ROUTE,LOAD,TARIFF,METER_STATUS,MONTH,YEAR,UNIT
33543,20392.0,MD EMDADUL HOQUE,29003601,8120275,"2/8/I/2 TOLAR BAGH MIRPUR, DHAAK.",SAAA,150,360.0,1,A,check,10,2013,-78.0
33758,20693.0,MRS ALAYA RAHMAN,29003611,032291,2 8/1 3 TOLAR BAG MIRPUR DHAKA,SAAA,150,400.0,1,A,check,1,2014,-189.0
33775,23312.0,MRS ALAYA RAHMAN,29003611,032291,2 8/1 3 TOLAR BAG MIRPUR DHAKA,SAAA,150,400.0,1,A,check,6,2015,-3.0
33776,23468.0,MRS ALAYA RAHMAN,29003611,032291,2 8/1 3 TOLAR BAG MIRPUR DHAKA,SAAA,150,400.0,1,A,check,7,2015,-1.0
33786,25110.0,MRS ALAYA RAHMAN,29003611,032291,2 8/1 3 TOLAR BAG MIRPUR DHAKA,SAAA,150,400.0,1,A,check,5,2016,-1.0

First we compute the default mean of an individual user

In [40]:
# def impute(x):
#     x['METER_NO']
# neg_unit_rows['new_unit'] = neg_unit_rows.apply(lambda x: impute(x) if x['UNIT']<0 else x['UNIT'])

# df.groupby(df['METER_NO'],df['YEAR'])
neg_group = df.groupby(['ACCOUNT_NO','YEAR'])
neg_group.UNIT.mean()

ACCOUNT_NO  YEAR
15000001    2011     264.000000
            2012     121.416667
            2013     157.583333
            2014     156.916667
            2015     361.750000
            2016     406.600000
15000002    2011    1013.500000
            2012     763.750000
            2013     690.750000
            2014     166.416667
            2015     231.833333
            2016     225.400000
15000003    2011     306.833333
            2012     462.666667
            2013     544.666667
            2014     237.000000
            2015     250.333333
            2016      94.700000
15000004    2011     874.250000
            2012     510.166667
            2013     333.083333
            2014     316.333333
            2015     383.666667
            2016     401.200000
15000005    2011       0.250000
            2012       4.083333
            2013     108.500000
            2014     144.416667
            2015     138.333333
            2016     108.777778
                       ...
31519493    2011       0.875000
            2012       1.166667
            2013      51.083333
            2014      15.083333
            2015       0.000000
            2016       0.000000
31519503    2011     403.571429
            2012     295.333333
            2013     358.916667
            2014     338.916667
            2015     296.333333
            2016     207.600000
31519527    2011     237.428571
            2012     309.833333
            2013     439.833333
            2014     567.666667
            2015     594.916667
            2016     708.800000
31519586    2011      17.000000
            2012     151.833333
            2013     117.916667
            2014     143.083333
            2015      69.666667
            2016      81.300000
31519587    2011     635.500000
            2012     460.166667
            2013     528.833333
            2014     599.416667
            2015     545.416667
            2016     571.600000
Name: UNIT, dtype: float64

but there are so many negative values in the columns so it would be confusing,

In [41]:
neg_group = df.groupby(['ACCOUNT_NO','YEAR'])#.filter(lambda x: x['UNIT'] >0)
neg_group.UNIT.count()

ACCOUNT_NO  YEAR
15000001    2011     6
            2012    12
            2013    12
            2014    12
            2015    12
            2016    10
15000002    2011     4
            2012    12
            2013    12
            2014    12
            2015    12
            2016    10
15000003    2011     6
            2012    12
            2013    12
            2014    12
            2015    12
            2016    10
15000004    2011     4
            2012    12
            2013    12
            2014    12
            2015    12
            2016    10
15000005    2011     4
            2012    12
            2013    12
            2014    12
            2015    12
            2016     9
                    ..
31519493    2011     8
            2012    12
            2013    12
            2014    12
            2015    12
            2016     2
31519503    2011     7
            2012    12
            2013    12
            2014    12
            2015    12
            2016    10
31519527    2011     7
            2012    12
            2013    12
            2014    12
            2015    12
            2016    10
31519586    2011     2
            2012    12
            2013    12
            2014    12
            2015    12
            2016    10
31519587    2011     6
            2012    12
            2013    12
            2014    12
            2015    12
            2016    10
Name: UNIT, dtype: int64

we need to impute them with the mean value

In [42]:
neg_group.get_group((31519587,2011))

,SL,NAME,ACCOUNT_NO,METER_NO,ADDRESS,ZONE,BLOCK,ROUTE,LOAD,TARIFF,METER_STATUS,MONTH,YEAR,UNIT
4256247,13377.0,MD.ALOMGIR SHEAK,31519587,012922,"House/Flat # 15, Road # 8, Block # H, Section ...",SAFE,190,1390.0,2,A,Single,7,2011,780.0
4256248,13489.0,MD.ALOMGIR SHEAK,31519587,012922,"House/Flat # 15, Road # 8, Block # H, Section ...",SAFE,190,1390.0,2,A,Single,8,2011,780.0
4256249,13775.0,MD.ALOMGIR SHEAK,31519587,012922,"House/Flat # 15, Road # 8, Block # H, Section ...",SAFE,190,1390.0,2,A,Single,9,2011,782.0
4256250,13877.0,MD.ALOMGIR SHEAK,31519587,012922,"House/Flat # 15, Road # 8, Block # H, Section ...",SAFE,190,1390.0,2,A,Single,10,2011,677.0
4256251,14015.0,MD.ALOMGIR SHEAK,31519587,012922,"House/Flat # 15, Road # 8, Block # H, Section ...",SAFE,190,1390.0,2,A,Single,11,2011,548.0
4256252,14115.0,MD.ALOMGIR SHEAK,31519587,012922,"House/Flat # 15, Road # 8, Block # H, Section ...",SAFE,190,1390.0,2,A,Single,12,2011,246.0

In [90]:
# neg_group = df.groupby(['ACCOUNT_NO','YEAR']).filter(lambda x: (x['UNIT']>0).any())
# neg_group.UNIT.mean()

In [44]:
neg_group.head()

,SL,NAME,ACCOUNT_NO,METER_NO,ADDRESS,ZONE,BLOCK,ROUTE,LOAD,TARIFF,METER_STATUS,MONTH,YEAR,UNIT
0,5702.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,6,2001,176.0
1,5871.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,9,2001,200.0
2,5904.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,10,2001,220.0
3,5916.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,8,2001,214.0
4,6041.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,12,2001,149.0
9,6004.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,1,2002,139.0
10,6052.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,4,2002,176.0
11,6328.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,9,2002,232.0
12,6402.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,7,2002,200.0
13,6485.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,10,2002,236.0
21,6536.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,2,2003,128.0
22,6602.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,1,2003,131.0
23,6665.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,4,2003,299.0
24,6686.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,3,2003,116.0
25,6688.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,5,2003,192.0
33,7146.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,7,2004,228.0
34,7626.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,1,2004,84.0
35,7699.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,2,2004,142.0
36,7743.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,3,2004,150.0
37,7851.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,4,2004,254.0
45,864.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,5,2005,216.0
46,901.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,4,2005,199.0
47,973.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,6,2005,162.0
48,1050.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,7,2005,122.0
49,1186.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,9,2005,153.0
57,997.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,12,2006,142.0
58,1347.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,1,2006,98.0
59,1435.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,3,2006,147.0
60,1534.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,5,2006,225.0
61,1548.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.00,2,A,Child,4,2006,170.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4537087,4654.0,MD.SHAKAWAT HOSSAIN,31518379,0109071,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,1,2011,99.0
4537088,4899.0,MD.SHAKAWAT HOSSAIN,31518379,0109071,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,2,2011,95.0
4537089,5042.0,MD.SHAKAWAT HOSSAIN,31518379,0109071,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,5,2011,116.0
4537090,5080.0,MD.SHAKAWAT HOSSAIN,31518379,0109071,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,3,2011,100.0
4537091,5101.0,MD.SHAKAWAT HOSSAIN,31518379,0109071,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,4,2011,36.0
4537099,5990.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,1,2012,38.0
4537100,6045.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,2,2012,106.0
4537101,6132.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,3,2012,93.0
4537102,6199.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,4,2012,76.0
4537103,6270.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,5,2012,105.0
4537111,6932.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,1,2013,105.0
4537112,6988.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,2,2013,33.0
4537113,7065.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,3,2013,193.0
4537114,7147.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,4,2013,224.0
4537115,7273.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,5,2013,166.0
4537123,7946.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,1,2014,255.0
4537124,8083.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,2,2014,285.0
4537125,8149.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,3,2014,244.0
4537126,8298.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,4,2014,202.0
4537127,8360.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,5,2014,251.0
4537135,9195.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,1,2015,1297.0
4537136,9386.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,2,2015,1481.0
4537137,9453.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,3,2015,2581.0
4537138,9601.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,4,2015,2848.0
4537139,9656.0,MD.SHAKAWAT HOSSAIN,31518379,1016755,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,5,2015,2939.0
4537147,10567.0,MD.SHAKAWAT HOSSAIN,31518379,14391192,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,1,2016,2431.0
4537148,10699.0,MD.SHAKAWAT HOSSAIN,31518379,14391192,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,2,2016,3840.0
4537149,10786.0,MD.SHAKAWAT HOSSAIN,31518379,14391192,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,3,2016,3838.0
4537150,10917.0,MD.SHAKAWAT HOSSAIN,31518379,14391192,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,4,2016,3838.0
4537151,11034.0,MD.SHAKAWAT HOSSAIN,31518379,14391192,"House/Flat # 1/D, Road # 9/1, Block # A, Secti...",SAFP,100,180.01,2,E,Single,5,2016,4271.0

In [92]:
cond = df['UNIT']>0
neg_group = df[df['UNIT']>0].groupby(['ACCOUNT_NO','YEAR'])

In [93]:
neg_group.get_group((29003111, 2012))

,SL,NAME,ACCOUNT_NO,METER_NO,ADDRESS,ZONE,BLOCK,ROUTE,LOAD,TARIFF,METER_STATUS,MONTH,YEAR,UNIT,IMPUTE_UNIT
98515,15843.0,MD. SOLAIMAN HOSSAIN CHOWDARY,29003111,20040413913,2/8/B/1 TALAR BAGH MIRPUR,SAAA,158,610.0,2,E,Check,12,2012,612.0,612.0

In [94]:
neg_group.UNIT.mean()

ACCOUNT_NO  YEAR
15000001    2011     264.000000
            2012     121.416667
            2013     157.583333
            2014     156.916667
            2015     361.750000
            2016     406.600000
15000002    2011    1013.500000
            2012     763.750000
            2013     690.750000
            2014     166.416667
            2015     231.833333
            2016     250.444444
15000003    2011     306.833333
            2012     462.666667
            2013     544.666667
            2014     237.000000
            2015     250.333333
            2016     105.222222
15000004    2011     874.250000
            2012     510.166667
            2013     333.083333
            2014     316.333333
            2015     383.666667
            2016     401.200000
15000005    2011       1.000000
            2012      49.000000
            2013     108.500000
            2014     144.416667
            2015     138.333333
            2016     122.375000
                       ...
31519462    2015     823.333333
            2016      29.000000
31519493    2011       1.000000
            2012       3.500000
            2013      76.625000
            2014      20.111111
31519503    2011     403.571429
            2012     295.333333
            2013     358.916667
            2014     338.916667
            2015     296.333333
            2016     207.600000
31519527    2011     237.428571
            2012     309.833333
            2013     439.833333
            2014     567.666667
            2015     594.916667
            2016     708.800000
31519586    2011      34.000000
            2012     151.833333
            2013     141.500000
            2014     143.083333
            2015      69.666667
            2016      81.300000
31519587    2011     635.500000
            2012     460.166667
            2013     528.833333
            2014     599.416667
            2015     545.416667
            2016     571.600000
Name: UNIT, dtype: float64

In [133]:
neg_group.UNIT.get_group((15000001,2011)).mean()
df.query('(ACCOUNT_NO == 29003111) & (YEAR == 2012) & (UNIT> 0 )').UNIT.mean()

612.0

In [96]:
neg_group.get_group((15000002,2011))

,SL,NAME,ACCOUNT_NO,METER_NO,ADDRESS,ZONE,BLOCK,ROUTE,LOAD,TARIFF,METER_STATUS,MONTH,YEAR,UNIT,IMPUTE_UNIT
1031337,6611.0,MD. SERAJ ULLAH,15000002,034757,"House/Flat # 29/8, Plot # COAT BARI, MIRPUR DH...",SAAC,150,890.0,2,A,Child,10,2011,855.0,855.0
1031338,6990.0,MD. SERAJ ULLAH,15000002,034757,"House/Flat # 29/8, Plot # COAT BARI, MIRPUR DH...",SAAC,150,890.0,2,A,Child,9,2011,1934.0,1934.0
1031339,7074.0,MD. SERAJ ULLAH,15000002,034757,"House/Flat # 29/8, Plot # COAT BARI, MIRPUR DH...",SAAC,150,890.0,2,A,Child,11,2011,806.0,806.0
1031340,7136.0,MD. SERAJ ULLAH,15000002,034757,"House/Flat # 29/8, Plot # COAT BARI, MIRPUR DH...",SAAC,150,890.0,2,A,Child,12,2011,459.0,459.0

In [134]:
def IMPUTE_UNIT(x):
    if x.UNIT < 0:
        return 0
    else:
        return x.UNIT
def IMPUTE_UNIT_WITH_MEAN(x):
    if x.UNIT < 0:
        acc = x.ACCOUNT_NO
        year = x.YEAR
        mean = 0
#         mean = neg_group.UNIT.get_group((acc,year)).mean()
        mean = x.query('(ACCOUNT_NO == acc) & (YEAR == year) & (UNIT > 0)').UNIT.mean()
#         try:

#             mean = x.query('(ACCOUNT_NO == acc) & (YEAR == year) & (UNIT > 0)').UNIT.mean()
#         except :
#             print('{0} {1} {2}'.format(acc,year, mean))

        return mean
    else:
        return x.UNIT

In [135]:
df['IMPUTE_UNIT'] = df.apply( IMPUTE_UNIT_WITH_MEAN, axis=1)

29003601 2013 0
29003611 2014 0
29003611 2015 0
29003611 2015 0
29003611 2016 0
29003861 2010 0
29003861 2010 0
29003861 2011 0
29004211 2006 0
29004211 2009 0
29004211 2013 0
29004241 2009 0
29004241 2010 0
29004511 2016 0
29004511 2016 0
29004511 2016 0
29004511 2016 0
29004511 2016 0
29004511 2016 0
29005301 2004 0
29005301 2004 0
29005301 2004 0
29005301 2005 0
29005301 2005 0
29005301 2005 0
29005301 2005 0
29005301 2005 0
29005301 2005 0
29005301 2005 0
29005301 2005 0
29005301 2005 0
29005301 2005 0
29005301 2005 0
29005301 2007 0
29005301 2012 0
29005301 2012 0
29005301 2013 0
29005301 2013 0
29005381 2013 0
29005381 2013 0
29005381 2013 0
29005381 2013 0
29005381 2015 0
29005441 2008 0
29005441 2010 0
29005441 2013 0
29005441 2015 0
29005441 2015 0
29005441 2016 0
29688937 2009 0
29688937 2010 0
29688937 2012 0
29688995 2008 0
29688995 2008 0
29688995 2009 0
29688995 2009 0
29688995 2010 0
29688995 2010 0
29688995 2011 0
29688995 2013 0
29688995 2016 0
29688995 2016 0
29688995 2016 0
29688995 2016 0
29688995 2016 0
29694973 2009 0
29694973 2009 0
29694973 2009 0
29694973 2009 0
29694973 2009 0
29694973 2010 0
29694973 2010 0
29694973 2011 0
29694973 2011 0
29005041 2007 0
29005051 2010 0
29005221 2009 0
29012821 2007 0
29012821 2007 0
29012821 2007 0
29012821 2008 0
29012821 2008 0
29012821 2008 0
29012821 2008 0
29012821 2008 0
29012821 2008 0
29012821 2008 0
29012821 2008 0
29012821 2008 0
29012821 2008 0
29012821 2008 0
29012821 2008 0
29012821 2009 0
29012821 2009 0
29012821 2009 0
29012821 2009 0
29012821 2009 0
29012821 2009 0
29012821 2009 0
29012821 2009 0
29012821 2009 0
29012821 2009 0
29012821 2009 0
29012821 2009 0
29012821 2010 0
29012821 2010 0
29012821 2010 0
29012821 2010 0
29012821 2010 0
29012821 2010 0
29012821 2010 0
29012821 2010 0
29012821 2010 0
29012821 2010 0
29016321 2009 0
29017021 2004 0
29017021 2004 0
29017021 2004 0
29017021 2004 0
29017021 2005 0
29017021 2005 0
29017021 2005 0
29017021 2005 0
29017021 2006 0
29017021 2006 0
29017021 2006 0
29017021 2006 0
29017021 2006 0
29017021 2013 0
29017021 2013 0
29017021 2013 0
29017021 2013 0
29017021 2013 0
29017021 2013 0
29017021 2013 0
29017021 2013 0
29017021 2013 0
29017021 2014 0
29017021 2014 0
29017021 2015 0
29017021 2016 0
29017711 2007 0
29017711 2007 0
29017711 2010 0
29017711 2010 0
29017711 2012 0
29017711 2012 0
29017711 2013 0
29017711 2013 0
29017711 2013 0
29017711 2013 0
29017711 2013 0
29017711 2013 0
29017711 2013 0
29017711 2013 0
29017711 2013 0
29017711 2013 0
29017711 2013 0
29017711 2014 0
29017711 2014 0
29017711 2014 0
29017711 2014 0
29017711 2014 0
29017711 2014 0
29017711 2014 0
29017711 2014 0
29017711 2015 0
29017711 2015 0
29017711 2015 0
29017711 2015 0
29017711 2015 0
29017711 2015 0
29017711 2015 0
29017711 2015 0
29017711 2015 0
29018561 2006 0
29018561 2006 0
29688980 2008 0
29688980 2008 0
29688980 2015 0
29688980 2016 0
29698202 2009 0
29698202 2009 0
29698202 2009 0
29698202 2010 0
29698202 2010 0
29698202 2011 0
29698202 2011 0
29698202 2011 0
29698202 2011 0
29698202 2011 0
29698202 2011 0
29698202 2011 0
29698202 2011 0
29698202 2011 0
29698202 2012 0
29698202 2012 0
29698202 2012 0
29698202 2014 0
29698202 2014 0
29698202 2015 0
29698202 2015 0
29698202 2016 0
29698202 2016 0
29699143 2009 0
29699143 2010 0
29699143 2011 0
29699143 2012 0
29699143 2012 0
29699143 2012 0
29699143 2013 0
29699143 2013 0
29699143 2014 0
29699143 2014 0
29699143 2014 0
15000117 2012 0
15001984 2012 0
15002998 2012 0
15005140 2015 0
15013160 2015 0
15013160 2016 0
15013160 2016 0
15013160 2016 0
15013160 2016 0
15014352 2016 0
29013351 2007 0
29013351 2011 0
29013661 2014 0
29013661 2014 0
29013661 2014 0
29013661 2014 0
15001566 2014 0
15003437 2012 0
29002971 2009 0
29002971 2012 0
29003111 2005 0
29003111 2005 0
29003111 2005 0
29003111 2005 0
29003111 2005 0
29003111 2005 0
29003111 2006 0
29003111 2006 0
29003111 2006 0
29003111 2006 0
29003111 2006 0
29003111 2006 0
29003111 2006 0
29003111 2006 0
29003111 2006 0
29003111 2006 0
29003111 2006 0
29003111 2006 0
29003111 2007 0
29003111 2007 0
29003111 2007 0
29003111 2007 0
29003111 2007 0
29003111 2007 0
29003111 2007 0
29003111 2007 0
29003111 2007 0
29003111 2007 0
29003111 2007 0
29003111 2007 0
29003111 2008 0
29003111 2008 0
29003111 2008 0
29003111 2008 0
29003111 2008 0
29003111 2008 0
29003111 2008 0
29003111 2008 0
29003111 2008 0
29003111 2008 0
29003111 2008 0
29003111 2008 0
29003111 2009 0
29003111 2009 0
29003111 2009 0
29003111 2009 0
29003111 2009 0
29003111 2009 0
29003111 2009 0
29003111 2009 0
29003111 2009 0
29003111 2009 0
29003111 2009 0
29003111 2009 0
29003111 2010 0
29003111 2010 0
29003111 2010 0
29003111 2010 0
29003111 2010 0
29003111 2010 0
29003111 2010 0
29003111 2010 0
29003111 2010 0
29003111 2010 0
29003111 2010 0
29003111 2010 0
29003111 2011 0
29003111 2011 0
29003111 2011 0
29003111 2011 0
29003111 2011 0
29003111 2011 0
29003111 2011 0
29003111 2011 0
29003111 2011 0
29003111 2011 0
29003111 2011 0
29003111 2011 0
29003111 2012 0
29003111 2012 0
29003111 2012 0
29003111 2012 0
29003111 2012 0
29003111 2012 0
29003111 2012 0
29003111 2012 0
29003111 2012 0
29003111 2012 0
29003111 2012 0
29003111 2013 0
29003111 2013 0
29003111 2013 0
29003111 2013 0
29003111 2013 0
29003111 2013 0
29003111 2013 0
29003111 2013 0
29003111 2013 0
29003111 2013 0
29003111 2013 0
29003111 2014 0
29003111 2014 0
29003111 2014 0
29003111 2014 0
29003111 2014 0
29003111 2014 0
29003111 2014 0
29003111 2014 0
29003111 2014 0
29008991 2011 0
29008991 2011 0
29008991 2011 0
29008991 2011 0
29008991 2012 0
29009671 2007 0
29009671 2007 0
29009671 2012 0
29694857 2009 0
29005701 2009 0
29005701 2009 0
29006011 2010 0
29006011 2011 0
29006011 2013 0
29006111 2015 0
29006111 2016 0
29006111 2016 0
29006111 2016 0
29006111 2016 0
29006111 2016 0
29006131 2007 0
29006231 2011 0
29006231 2011 0
29006231 2012 0
29006231 2012 0
29006461 2005 0
29006461 2005 0
29006461 2005 0
29006461 2005 0
29006461 2006 0
29006701 2009 0
29010841 2009 0
29011531 2009 0
29011531 2014 0
29011531 2014 0
29011531 2015 0
29011531 2015 0
29011531 2015 0
29011531 2015 0
29011531 2016 0
29011531 2016 0
29699144 2009 0
29699144 2010 0
29699144 2010 0
29699144 2010 0
29699144 2011 0
29699144 2011 0
29699144 2011 0
29699144 2011 0
29700223 2009 0
29700223 2010 0
29700223 2010 0
29700223 2010 0
29700223 2010 0
29700223 2010 0
29700223 2010 0
29700223 2010 0
29700223 2010 0
29700223 2010 0
29700223 2010 0
29700223 2011 0
29700223 2011 0
29700223 2011 0
29700223 2011 0
29700223 2012 0
29700223 2012 0
29700223 2012 0
29700223 2012 0
29700223 2012 0
29700223 2012 0
29700223 2012 0
29700223 2013 0
29700223 2013 0
29700223 2013 0
29700223 2013 0
29700223 2013 0
29700223 2014 0
29700223 2015 0
15008503 2014 0
15008503 2014 0
15008503 2015 0
15008503 2015 0
15008503 2015 0
15008503 2016 0
15008503 2016 0
15010066 2014 0
15010066 2014 0
15010066 2015 0
15015338 2016 0
29009531 2008 0
29010211 2008 0
29010211 2016 0
29010211 2016 0
29010211 2016 0
29011841 2012 0
29695922 2009 0
29695922 2015 0
29696915 2009 0
15000459 2012 0
15000459 2012 0
15000670 2013 0
15000670 2013 0
15000670 2013 0
15000670 2013 0
15000670 2013 0
15000670 2014 0
15000670 2014 0
15000670 2014 0
15000670 2014 0
15000670 2014 0
15000670 2016 0
15000670 2016 0
15000670 2016 0
15000670 2016 0
15000670 2016 0
15001824 2012 0
15004142 2014 0
15004142 2015 0
15008195 2014 0
15008195 2014 0
29007871 2008 0
29007871 2008 0
29007871 2008 0
29007871 2008 0
29007871 2008 0
29007871 2008 0
29007871 2008 0
29007871 2008 0
29007871 2008 0
29007871 2008 0
29007871 2008 0
29007871 2008 0
29007871 2009 0
29007871 2009 0
29007871 2009 0
29007871 2009 0
29007871 2009 0
29007871 2009 0
29007871 2009 0
29007871 2009 0
29007871 2009 0
29007871 2009 0
29007871 2009 0
29007871 2009 0
29007871 2010 0
29007871 2010 0
29007871 2010 0
29007871 2010 0
29007871 2010 0
29007871 2010 0
29007871 2010 0
29007871 2010 0
29007871 2010 0
29007871 2011 0
29007871 2011 0
29007871 2012 0
29007871 2015 0
29007871 2016 0
29007871 2016 0
29007871 2016 0
29007871 2016 0
29007871 2016 0
29007871 2016 0
29007871 2016 0
29007871 2016 0
29008181 2008 0
29008181 2011 0
29010261 2014 0
29010261 2014 0
29010261 2014 0
29010261 2014 0
29010261 2015 0
29010261 2015 0
29010261 2015 0
29010261 2015 0
29010261 2015 0
29010261 2015 0
29010261 2015 0
29010261 2015 0
29010261 2015 0
29010261 2016 0
29010261 2016 0
29010261 2016 0
29010601 2011 0
29010601 2011 0
29010601 2012 0
29010601 2014 0
29010601 2014 0
29011591 2007 0
29011591 2007 0
29011591 2008 0
29011591 2008 0
29011591 2008 0
29011591 2008 0
29011591 2008 0
29011591 2008 0
29011591 2008 0
29011591 2008 0
29011591 2008 0
29011591 2008 0
29011591 2009 0
29011591 2009 0
29011591 2009 0
29011591 2009 0
29011591 2009 0
29011591 2009 0
29011591 2009 0
29011591 2009 0
29011591 2009 0
29011591 2009 0
29011591 2009 0
29011591 2009 0
29011591 2010 0
29011591 2010 0
29011591 2010 0
29011591 2010 0
29012481 2012 0
29012481 2012 0
29012481 2016 0
29695011 2009 0
15006206 2013 0
29006871 2013 0
29006941 2007 0
29006941 2007 0
29006941 2007 0
29006941 2007 0
29006941 2008 0
29006941 2010 0
29010001 2011 0
29010001 2014 0
29010031 2009 0
29010741 2005 0
29012451 2008 0
29012451 2015 0
29323831 2008 0
29323831 2009 0
29689014 2008 0
29689014 2008 0
29689014 2015 0
29691666 2008 0
29691666 2008 0
29691666 2008 0
29691666 2008 0
29691666 2009 0
29691666 2009 0
29691666 2009 0
29691666 2009 0
29691666 2009 0
29691666 2009 0
29691666 2009 0
29691666 2009 0
29691666 2009 0
29691666 2009 0
29691666 2009 0
29691666 2009 0
29691666 2010 0
29691666 2010 0
29691666 2010 0
29691666 2010 0
29691666 2010 0
29691666 2010 0
29691666 2010 0
29691666 2010 0
29691666 2010 0
29691666 2010 0
29691666 2010 0
29691666 2010 0
29691666 2011 0
29691666 2011 0
29691666 2011 0
29691666 2011 0
29691666 2011 0
29691666 2011 0
29691666 2011 0
29691666 2011 0
29691666 2011 0
29691666 2011 0
29691666 2011 0
29691666 2011 0
29691666 2012 0
29691666 2012 0
29691666 2012 0
29691666 2012 0
29691666 2012 0
29691666 2012 0
29691666 2012 0
29691666 2013 0
29691666 2013 0
29691666 2013 0
29691666 2013 0
29691666 2013 0
29691666 2013 0
29691666 2013 0
29691666 2013 0
29691666 2013 0
29691666 2013 0
29691666 2013 0
29691666 2014 0
29691666 2014 0
29691666 2014 0
29691666 2014 0
29691666 2014 0
29691666 2014 0
29691666 2014 0
29691666 2014 0
29691666 2014 0
29691666 2014 0
29691666 2014 0
29691666 2014 0
29691666 2015 0
29691666 2015 0
29691666 2015 0
29691666 2015 0
29691666 2015 0
29691666 2015 0
29691666 2015 0
29691666 2015 0
29691666 2015 0
29691666 2015 0
29691666 2015 0
29691666 2015 0
29691666 2016 0
29691666 2016 0
29691666 2016 0
29691666 2016 0
29691666 2016 0
29691666 2016 0
15000703 2011 0
15000703 2011 0
15000703 2011 0
15000703 2012 0
15000703 2012 0
15000703 2012 0
15000703 2012 0
15000703 2012 0
15000703 2012 0
29007311 2006 0
29007311 2006 0
29007311 2006 0
29008391 2013 0
29008391 2013 0
29008391 2013 0
29008391 2013 0
29008391 2013 0
29008391 2013 0
29008391 2013 0
29008391 2014 0
29008391 2014 0
29008391 2014 0
29008391 2014 0
29008391 2014 0
29008391 2014 0
29008391 2015 0
29008391 2015 0
29008391 2016 0
29011741 2004 0
29011741 2005 0
29011741 2006 0
29011741 2006 0
29011741 2006 0
29011741 2007 0
29011741 2007 0
29011741 2007 0
29011741 2007 0
29011741 2007 0
29011741 2007 0
29011741 2008 0
29011741 2008 0
29011741 2008 0
29011741 2008 0
29011741 2016 0
29012101 2013 0
29012101 2013 0
29689029 2008 0
29689029 2008 0
29691669 2008 0
29691669 2009 0
29700631 2010 0
29700631 2010 0
29700631 2010 0
29700631 2010 0
29700631 2010 0
29700631 2010 0
15001582 2012 0
15001582 2012 0
15001582 2013 0
15003350 2013 0
15005605 2013 0
15015424 2016 0
29009831 2005 0
29009831 2005 0
29009831 2005 0
29009831 2005 0
29009831 2005 0
29009831 2005 0
29009831 2006 0
29009831 2013 0
29010461 2010 0
29010461 2010 0
29010461 2010 0
29010461 2010 0
29010461 2011 0
29010461 2011 0
29010461 2011 0
29010461 2011 0
29010461 2011 0
29010461 2011 0
29010461 2011 0
29010461 2011 0
29010461 2011 0
29010461 2011 0
29010461 2011 0
29010461 2013 0
29016501 2014 0
29017161 2007 0
29017161 2007 0
29017161 2007 0
29017161 2007 0
29017161 2008 0
29017161 2008 0
29017161 2008 0
29017161 2008 0
29017161 2008 0
29017161 2008 0
29017161 2008 0
29017161 2008 0
29017161 2008 0
29017161 2008 0
29017161 2008 0
29017161 2008 0
29017161 2009 0
29017161 2009 0
29017161 2009 0
29017161 2009 0
29017161 2009 0
29017161 2009 0
29017161 2009 0
29017161 2009 0
29017161 2009 0
29017161 2009 0
29017161 2009 0
29017161 2009 0
29017161 2010 0
29017161 2010 0
29017161 2010 0
29017161 2010 0
29017161 2010 0
29017161 2010 0
29017161 2010 0
29017161 2010 0
29017161 2010 0
29017161 2010 0
29017161 2010 0
29017161 2010 0
29017161 2011 0
29017161 2011 0
29017161 2011 0
29017161 2011 0
29017161 2011 0
29017161 2011 0
29017161 2011 0
29017161 2011 0
29017161 2011 0
29017161 2011 0
29017161 2011 0
29017161 2011 0
29017161 2012 0
29017161 2012 0
29017161 2012 0
29017161 2012 0
29017161 2012 0
29017161 2012 0
29017161 2012 0
29017161 2012 0
29017161 2012 0
29696921 2009 0
29696921 2009 0
29696921 2013 0
29696921 2015 0
29696921 2015 0
29696921 2015 0
29696921 2015 0
29696921 2016 0
29699631 2009 0
29699631 2009 0
29699631 2010 0
29699631 2010 0
29699631 2010 0
29699631 2010 0
29699631 2011 0
29699631 2011 0
29699631 2011 0
29699631 2015 0
29699631 2015 0
29699631 2016 0
29699631 2016 0
15006620 2014 0
15014487 2016 0
29013141 2014 0
29013141 2014 0
29013791 2007 0
29013791 2008 0
29013791 2010 0
29013791 2010 0
29013791 2010 0
29013791 2010 0
29013791 2010 0
29013791 2010 0
29013791 2010 0
29013791 2010 0
29013791 2010 0
29013791 2010 0
29013791 2010 0
29013791 2011 0
29013791 2011 0
29013791 2011 0
29013791 2011 0
29013791 2011 0
29013791 2011 0
29013791 2011 0
29013791 2011 0
29013791 2011 0
29013791 2011 0
29013791 2011 0
29013791 2011 0
29013791 2012 0
29013791 2012 0
29013791 2012 0
29013791 2012 0
29013791 2012 0
29013791 2012 0
29013791 2012 0
29013791 2015 0
29014521 2008 0
29014521 2008 0
29014521 2010 0
29014521 2010 0
29014521 2010 0
29014881 2004 0
29014881 2004 0
29014881 2004 0
29014881 2004 0
29014881 2004 0
29014881 2005 0
29014881 2005 0
29014881 2005 0
29014881 2005 0
29014881 2005 0
29014881 2005 0
29014881 2005 0
29014881 2005 0
29014881 2006 0
29014881 2006 0
29014881 2006 0
29014881 2006 0
29014881 2006 0
29014881 2006 0
29014881 2007 0
29014881 2007 0
29014881 2007 0
29014881 2007 0
29014881 2007 0
29014881 2007 0
29014881 2007 0
29014881 2008 0
29014881 2008 0
29014881 2008 0
29014881 2008 0
29014881 2009 0
29014881 2009 0
29014881 2009 0
29014881 2009 0
29014881 2009 0
29014881 2009 0
29014881 2009 0
29014881 2009 0
29014881 2010 0
29014881 2010 0
29014881 2010 0
29014881 2010 0
29014881 2010 0
29014881 2010 0
29014881 2010 0
29014881 2010 0
29014881 2011 0
29014881 2011 0
29014881 2011 0
29014881 2011 0
29014881 2011 0
29014881 2011 0
29014881 2011 0
29014881 2012 0
29014881 2012 0
29014881 2012 0
29014881 2012 0
29014881 2012 0
29014881 2012 0
29014881 2012 0
29014881 2012 0
29014881 2012 0
29014881 2013 0
29014881 2013 0
29014881 2013 0
29014881 2013 0
29014881 2013 0
29014881 2013 0
29014881 2013 0
29014881 2013 0
29014881 2014 0
29014881 2014 0
29014881 2015 0
29014881 2015 0
29014881 2015 0
29014881 2015 0
29014881 2015 0
29015291 2007 0
29015291 2007 0
29015291 2007 0
29015571 2010 0
29696930 2009 0
29696930 2009 0
29696930 2009 0
29696930 2009 0
29696930 2009 0
29696930 2009 0
29696930 2009 0
29696930 2009 0
29696930 2010 0
29696930 2010 0
29696930 2010 0
29696930 2010 0
29696930 2013 0
29696930 2013 0
29696930 2014 0
29696930 2014 0
29696930 2014 0
29696930 2014 0
29696930 2014 0
29696930 2014 0
29696930 2014 0
29696930 2014 0
29697447 2009 0
29697447 2009 0
29697447 2010 0
29697447 2010 0
29697447 2011 0
29697447 2012 0
29697447 2013 0
29697447 2014 0
29697447 2015 0
29697447 2016 0
29701939 2012 0
29701939 2016 0
15005107 2013 0
15005107 2013 0
15005107 2013 0
15005107 2014 0
15005107 2014 0
15005107 2014 0
15005107 2014 0
15005107 2014 0
15007021 2013 0
15007795 2016 0
29012561 2007 0
29012561 2010 0
29012561 2015 0
29012901 2004 0
29012901 2005 0
29012901 2005 0
29012901 2005 0
29012901 2006 0
29012901 2006 0
29012901 2006 0
29012901 2007 0
29012901 2007 0
29012901 2007 0
29012901 2007 0
29012901 2008 0
29012901 2008 0
29012901 2009 0
29012901 2009 0
29012901 2009 0
29012901 2009 0
29012901 2009 0
29012901 2009 0
29012901 2010 0
29012901 2010 0
29012901 2010 0
29012901 2010 0
29012901 2010 0
29012901 2010 0
29012901 2010 0
29012901 2011 0
29012901 2011 0
29012901 2011 0
29012901 2011 0
29012901 2013 0
29012901 2013 0
29012901 2013 0
29012901 2013 0
29012901 2013 0
29012901 2013 0
29012901 2014 0
29012901 2014 0
29012901 2014 0
29012901 2014 0
29012901 2015 0
29012901 2015 0
29012901 2015 0
29012901 2015 0
29012901 2015 0
29012901 2015 0
29012901 2015 0
29012901 2015 0
29012901 2015 0
29012901 2016 0
29014951 2007 0
29014951 2008 0
29014951 2009 0
29014951 2010 0
29014951 2012 0
29014951 2012 0
29014951 2013 0
29014951 2014 0
29014951 2014 0
29016231 2009 0
29016631 2007 0
29016631 2010 0
29016631 2010 0
29016631 2015 0
29016631 2015 0
29017221 2009 0
29017221 2009 0
29017221 2012 0
29017611 2007 0
29017611 2007 0
29019191 2006 0
29019191 2006 0
29019191 2007 0
29019191 2007 0
29019191 2008 0
29689045 2008 0
29689045 2008 0
29689045 2008 0
29689045 2008 0
29689045 2009 0
29689045 2009 0
29689045 2009 0
29689045 2009 0
29689045 2009 0
29689045 2009 0
29689045 2009 0
29689045 2009 0
29689045 2009 0
29689045 2009 0
29689045 2010 0
29689045 2010 0
29689045 2010 0
29689045 2010 0
29689045 2010 0
29689045 2010 0
29689045 2010 0
29689045 2010 0
29689045 2010 0
29689045 2010 0
29689045 2010 0
29689045 2010 0
29689045 2011 0
29689045 2011 0
29689045 2011 0
29689045 2011 0
29689045 2011 0
29689045 2011 0
29689045 2011 0
29689045 2011 0
29689045 2011 0
29689045 2011 0
29689045 2011 0
29689045 2012 0
29689045 2012 0
29689045 2012 0
29689045 2012 0
29689045 2012 0
29689045 2012 0
29689045 2012 0
29689045 2012 0
29689045 2012 0
29689045 2013 0
29689045 2013 0
29689045 2013 0
29689045 2013 0
29689045 2013 0
29689045 2013 0
29689045 2013 0
29689045 2013 0
29689045 2013 0
29689045 2013 0
29689045 2013 0
29689045 2013 0
29689045 2014 0
29689045 2014 0
29689045 2014 0
29689045 2014 0
29689045 2014 0
29689045 2014 0
29689045 2014 0
29689045 2014 0
29689045 2014 0
29689045 2014 0
29689045 2014 0
29696423 2009 0
29696423 2011 0
29696423 2011 0
29696423 2011 0
29696423 2011 0
29696423 2011 0
15001945 2012 0
15002856 2013 0
15005653 2013 0
15005653 2014 0
15005653 2014 0
15005653 2014 0
15005653 2014 0
15005653 2014 0
15005653 2014 0
15005653 2014 0
15005653 2014 0
15005653 2015 0
15005653 2015 0
15005653 2015 0
15005653 2015 0
15005653 2015 0
15005653 2015 0
15005653 2015 0
15005653 2015 0
15005653 2015 0
15005653 2015 0
15005653 2015 0
15005653 2015 0
15005653 2016 0
15005653 2016 0
15005653 2016 0
15005653 2016 0
15005653 2016 0
15005653 2016 0
15005653 2016 0
15005653 2016 0
15005653 2016 0
15006622 2013 0
15006622 2016 0
15006622 2016 0
15006622 2016 0
15006622 2016 0
15006622 2016 0
15011182 2014 0
15011182 2015 0
15014970 2016 0
15015974 2016 0
29012341 2011 0
29012341 2011 0
29012341 2012 0
29012341 2012 0
29012691 2015 0
29014081 2008 0
29015051 2005 0
29015051 2005 0
29015051 2005 0
29015051 2005 0
29015051 2005 0
29015051 2006 0
29015051 2006 0
29015051 2006 0
29015051 2006 0
29015051 2007 0
29015051 2009 0
29015051 2010 0
29015051 2010 0
29015051 2011 0
29015051 2011 0
29015051 2012 0
29015051 2012 0
29015051 2013 0
29015051 2013 0
29015051 2013 0
29015051 2014 0
29015051 2014 0
29015051 2014 0
29015051 2014 0
29015051 2014 0
29015051 2014 0
29015051 2014 0
29015051 2015 0
29015051 2015 0
29015051 2015 0
29015051 2015 0
29015051 2015 0
29015051 2015 0
29015051 2015 0
29015051 2016 0
29015051 2016 0
29015051 2016 0
29015051 2016 0
29015051 2016 0
29015051 2016 0
29015051 2016 0
29015051 2016 0

KeyboardInterrupt:

In [104]:
df.head()

,SL,NAME,ACCOUNT_NO,METER_NO,ADDRESS,ZONE,BLOCK,ROUTE,LOAD,TARIFF,METER_STATUS,MONTH,YEAR,UNIT,IMPUTE_UNIT
0,5702.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,6,2001,176.0,176.0
1,5871.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,9,2001,200.0,200.0
2,5904.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,10,2001,220.0,220.0
3,5916.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,8,2001,214.0,214.0
4,6041.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,12,2001,149.0,149.0

In [110]:
df.IMPUTE_UNIT.lt(1).sum()
# replacing negative values with 0

146490

In [112]:
df.drop('IMPUTE_UNIT', axis=1, inplace=True) # droping the columns with 0s

In [111]:
df.IMPUTE_UNIT.lt(0).sum()

0

In [107]:
df.IMPUTE_UNIT.lt(-1).sum()

0

In [72]:
neg_group.get_group((29003111, 2012))

,SL,NAME,ACCOUNT_NO,METER_NO,ADDRESS,ZONE,BLOCK,ROUTE,LOAD,TARIFF,METER_STATUS,MONTH,YEAR,UNIT,IMPUTE_UNIT
98504,13901.0,MD. SOLAIMAN HOSSAIN CHOWDARY,29003111,20040413913,2/8/B/1 TALAR BAGH MIRPUR,SAAA,158,610.0,2,E,Check,1,2012,-540.0,-632.916667
98505,14279.0,MD. SOLAIMAN HOSSAIN CHOWDARY,29003111,20040413913,2/8/B/1 TALAR BAGH MIRPUR,SAAA,158,610.0,2,E,Check,3,2012,-676.0,-632.916667
98506,14303.0,MD. SOLAIMAN HOSSAIN CHOWDARY,29003111,20040413913,2/8/B/1 TALAR BAGH MIRPUR,SAAA,158,610.0,2,E,Check,2,2012,-502.0,-632.916667
98507,14462.0,MD. SOLAIMAN HOSSAIN CHOWDARY,29003111,20040413913,2/8/B/1 TALAR BAGH MIRPUR,SAAA,158,610.0,2,E,Check,4,2012,-655.0,-632.916667
98508,14538.0,MD. SOLAIMAN HOSSAIN CHOWDARY,29003111,20040413913,2/8/B/1 TALAR BAGH MIRPUR,SAAA,158,610.0,2,E,Check,5,2012,-619.0,-632.916667
98509,14827.0,MD. SOLAIMAN HOSSAIN CHOWDARY,29003111,20040413913,2/8/B/1 TALAR BAGH MIRPUR,SAAA,158,610.0,2,E,Check,6,2012,-836.0,-632.916667
98510,14976.0,MD. SOLAIMAN HOSSAIN CHOWDARY,29003111,20040413913,2/8/B/1 TALAR BAGH MIRPUR,SAAA,158,610.0,2,E,Check,7,2012,-858.0,-632.916667
98511,15193.0,MD. SOLAIMAN HOSSAIN CHOWDARY,29003111,20040413913,2/8/B/1 TALAR BAGH MIRPUR,SAAA,158,610.0,2,E,Check,8,2012,-807.0,-632.916667
98512,15334.0,MD. SOLAIMAN HOSSAIN CHOWDARY,29003111,20040413913,2/8/B/1 TALAR BAGH MIRPUR,SAAA,158,610.0,2,E,Check,9,2012,-1032.0,-632.916667
98513,15434.0,MD. SOLAIMAN HOSSAIN CHOWDARY,29003111,20040413913,2/8/B/1 TALAR BAGH MIRPUR,SAAA,158,610.0,2,E,Check,10,2012,-843.0,-632.916667
98514,15570.0,MD. SOLAIMAN HOSSAIN CHOWDARY,29003111,20040413913,2/8/B/1 TALAR BAGH MIRPUR,SAAA,158,610.0,2,E,Check,11,2012,-839.0,-632.916667
98515,15843.0,MD. SOLAIMAN HOSSAIN CHOWDARY,29003111,20040413913,2/8/B/1 TALAR BAGH MIRPUR,SAAA,158,610.0,2,E,Check,12,2012,612.0,612.000000

In [101]:
neg_group.get_group((29698202, 2011))

,SL,NAME,ACCOUNT_NO,METER_NO,ADDRESS,ZONE,BLOCK,ROUTE,LOAD,TARIFF,METER_STATUS,MONTH,YEAR,UNIT,IMPUTE_UNIT
81114,13550.0,MRS. RAWSHAN ARA ISLAM,29698202,010374,"17/1/4, TOLAR BAGH MIRPUR, DHAKA",SAAA,155,165.0,2,A,Check,1,2011,70.0,70.0
81116,13892.0,MRS. RAWSHAN ARA ISLAM,29698202,010374,"17/1/4, TOLAR BAGH MIRPUR, DHAKA",SAAA,155,165.0,2,A,Check,3,2011,65.0,65.0
81118,14093.0,MRS. RAWSHAN ARA ISLAM,29698202,010374,"17/1/4, TOLAR BAGH MIRPUR, DHAKA",SAAA,155,165.0,2,A,Check,5,2011,115.0,115.0