In [1]:
import sys 
print(sys.version)

3.5.2 |Anaconda 4.2.0 (64-bit)| (default, Jul  5 2016, 11:41:13) [MSC v.1900 64 bit (AMD64)]

In [2]:
import pandas as pd 
import numpy as np
import gmaps
import matplotlib.pyplot as plt

In [3]:
input_file = pd.read_excel("../tongi_east_Account_wise_consumer.xls")
input_file.head()

,ACCOUNT_NO,METER_NO,BILLING_ZONE,BLOCK_BILL,ROUTE_NUMBER,NAME,ADDRESS,LOAD,SANCTION_TARIFF,UNIT_JAN2010,...,UNIT_MAY2016,READING_DATE_MAY2016,UNIT_JUN2016,READING_DATE_JUN2016,UNIT_JULY2016,READING_DATE_JULY2016,UNIT_AUG2016,READING_DATE_AUG2016,UNIT_SEPT2016,READING_DATE_SEPT2016
0,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2,A,113.0,...,227.0,05/05/2016,198.0,04/06/2016,403.0,01/07/2016,506.0,05/08/2016,628,04/09/2016
1,23211551,12659211/12,EA,A01,30.0,P.D-80 MW GTPS,"800,SFT MALOTI GR FLOOR WEST TONGI,",2,A,218.0,...,145.0,05/05/2016,118.0,04/06/2016,137.0,01/07/2016,195.0,05/08/2016,134,04/09/2016
2,23211541,10654706/12,EA,A01,40.0,P.D-80 MW GTPS,"800,SFT MALOTI FIRST FLOOR EAST, TO",2,A,22.0,...,155.0,05/05/2016,146.0,04/06/2016,125.0,01/07/2016,176.0,05/08/2016,131,04/09/2016
3,23211001,12660011/12,EA,A01,50.0,MANAGER GTPS 80 MW TONGI MALOTI FI,"GTPS 80 MW TONGI,",2,A,96.0,...,170.0,05/05/2016,208.0,04/06/2016,214.0,01/07/2016,305.0,05/08/2016,249,04/09/2016
4,23211481,111857,EA,A01,60.0,MANAGER GTPS 80 MW TONGI BELLY GR,"GTPS 80 MW TONGI,",2,A,0.0,...,26.0,05/05/2016,111.0,04/06/2016,84.0,01/07/2016,115.0,05/08/2016,99,04/09/2016

In [4]:
input_file.isnull().sum()

ACCOUNT_NO                    0
METER_NO                      0
BILLING_ZONE                  0
BLOCK_BILL                    0
ROUTE_NUMBER                  0
NAME                          0
ADDRESS                       1
LOAD                          0
SANCTION_TARIFF               0
UNIT_JAN2010              20724
READING_DATE_JAN2010      20724
UNIT_FEB2010              20547
READING_DATE_FEB2010      20547
UNIT_MAR2010              20431
READING_DATE_MAR2010      20431
UNIT_APRIL2010            20292
READING_DATE_APRIL2010    20292
UNIT_MAY2010              20284
READING_DATE_MAY2010      20284
UNIT_JUN2010              20277
READING_DATE_JUN2010      20277
UNIT_JULY2010             20278
READING_DATE_JULY2010     20278
UNIT_AUG2010              20269
READING_DATE_AUG2010      20269
UNIT_SEPT2010             20272
READING_DATE_SEPT2010     20272
UNIT_OCT2010              20272
READING_DATE_OCT2010      20272
UNIT_NOV2010              20270
                          ...
UNIT_JULY2015              3838
READING_DATE_JULY2015      3838
UNIT_AUG2015               3439
READING_DATE_AUG2015       3439
UNIT_SEPT2015              3137
READING_DATE_SEPT2015      3137
UNIT_OCT2015               2815
READING_DATE_OCT2015       2815
UNIT_NOV2015               2557
READING_DATE_NOV2015       2557
UNIT_DEC2015               2393
READING_DATE_DEC2015       2393
UNIT_JAN2016               2112
READING_DATE_JAN2016       2112
UNIT_FEB2016               1892
READING_DATE_FEB2016       1892
UNIT_MAR2016               1664
READING_DATE_MAR2016       1664
UNIT_APRIL2016             1347
READING_DATE_APRIL2016     1347
UNIT_MAY2016               1123
READING_DATE_MAY2016       1123
UNIT_JUN2016                879
READING_DATE_JUN2016        879
UNIT_JULY2016               632
READING_DATE_JULY2016       632
UNIT_AUG2016                345
READING_DATE_AUG2016        345
UNIT_SEPT2016                 0
READING_DATE_SEPT2016         0
dtype: int64

In [ ]:
df2 = pd.melt(input_file, id_vars=["ACCOUNT_NO","METER_NO","BILLING_ZONE","BLOCK_BILL","ROUTE_NUMBER","NAME","ADDRESS","LOAD","SANCTION_TARIFF"],var_name="Time",value_name="Unit")